<!DOCTYPE html>
<html>

<head>
    <title>Hello land friend!</title>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
      <div class="container">
        <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Land Friend</h1>
    <p>Helping those who help the planet</p>
        <div class="row">
          <div class="col-md-offset-3 col-md-3">
              <br />
            <a type="button" class="btn btn-lg btn-warning" href="/report-issue"><span class="glyphicon glyphicon-alert"></span> Report an issue</a>
            
          </div>
       
          <div class="col-md-3">
              <br />
            <a type="button" class="btn btn-lg btn-success" href="/issues"><span class="glyphicon glyphicon-map-marker"></span> Check for issues</a>
          </div>

        </div>
      </div>
    </div>
</body>

</html>