<!DOCTYPE html>
<html>

<head>
    <title>Issues</title>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>
        <h1>Current Issues</h1>
        <hr />
        <div class="panel panel-default">
            <div class="panel panel-heading">
                <h2>Property A</h2>
            </div>
            <div class="panel panel-body">
                <a href="#">
                    <p><span class="glyphicon glyphicon-leaf"></span> <i>Invasive species:</i> Mustard budding on south side
                        of park</p>
                </a>
                <a href="#">
                    <p><span class="glyphicon glyphicon-tint"></span> <i>Flooding:</i> Flooding on all trails East of lookout
                        rock</p>
                </a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel panel-heading">
                <h2>Property B</h2>
            </div>
            <div class="panel panel-body">
                <a href="#">
                    <p><span class="glyphicon glyphicon-eye-open"></span> <i>Suspicious person:</i> Tresspassers spotted on
                        North side of park</p>
                </a>
                <a href="#">
                    <p><span class="glyphicon glyphicon-warning-sign"></span> <i>Property Damage:</i> Fence broken on Southern
                        edge of park</p>
                </a>
                </a>
            </div>
        </div>


</body>

</html>