<!DOCTYPE html>
<html>

<head>
        <title>Manage Properties</title>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>
        <h1>Manage Properties</h1>
        <hr />
        <div class="panel panel-default">
            <div class="panel panel-heading">
                <h2>Property A</h2>
            </div>
            <div class="panel panel-body">
                <p>Property details</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel panel-heading">
                <h2>Property B</h2>
            </div>
            <div class="panel panel-body">
                <p>Property details</p>
            </div>
        </div>


</body>

</html>