<!DOCTYPE html>
<html>

<head>
        <title>Manage Application</title>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>
        <h1>Manage Application</h1>
    <hr />
    <div class="panel panel-default">
            <div class="panel panel-heading">
                <h2>User Access Settings</h2>
            </div>
            <div class="panel panel-body">
                <a href="#"><span class="glyphicon glyphicon-wrench"></span> <i>Change options for: </i> group A</a>
               
            </div>
        </div>  
        <div class="panel panel-default">
                <div class="panel panel-heading">
                        <h2>Email Notification Settings</h2>
                    </div>
                    <div class="panel panel-body">
                            <a href="#"><span class="glyphicon glyphicon-wrench"></span> <i>Change options for: </i> group B</a>
                       
                    </div>
            </div>
    
    
    </body>

</html>