<!DOCTYPE html>
<html>

<head>
        <title>Profile</title>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
      <div class="container">
        <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Manage your user profile</h1>
    <p>Let's get things set up the way you like them!</p>
       <div>
<ul>
    <li>Option 1</li>
    <li>Option 2</li>
    <li>Option 3</li>
</ul>

       </div>
        </div>
      </div>
    </div>
</body>

</html>